


h1,h2,h3 {
    font-weight: 900;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}

.header  {
    height: 25rem;
    background-image: url(../Navbar/gif.gif);
    background-size: cover;
    background-position: bottom center;
}

.bg-light {
    background-color: white!important;
}

.nombre-sitio {
    font-size: 2.4rem;
    font-weight: 300;
}
.nombre-sitio span {
    font-weight: 900;
}
.nav-link {
    color: white!important;
    font: bold;
}
@media (min-width:992px) {
    .header .nav-link:first-child::before {
        display: none;
    }
    .header .nav-link::before {
     
        margin-right: 1.5rem;
    }
}


/* Nosotros */
.sobre-nosotros-bg {
    min-height: 44rem;
    background-image: url(../../assets/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}
@media (min-width:768px) {
    .sobre-nosotros-bg {
        min-height: 36rem;
    }
}

/**Modelos**/

.modelo {
    background-repeat: no-repeat;
    min-height: 40rem;
}
@media (min-width:768px) {
    .modelo {
        min-height: 30rem;
    }
}
.basico {
    background-image: url(img/modelo1.jpg);
    background-position: top right;
}

.premier {
    background-image: url(img/modelo2.jpg);
    background-position: top left;
}

.elite {
    background-image: url(img/modelo3.jpg);
    background-position: top right;
}

.text {
    position: relative;
    padding: 8px;
    transition: 0.2s;
  }
  
  .text::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ddd;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .text:hover::after {
    width: 100%;
    left: 0;
  }
  /* ul {
    display: flex; 
}

ul li {
    list-style: none;
    position: relative;
    margin: 10px;

}

ul li a {
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color:#E8E8A6;
    padding: 5px 10px;
    overflow: hidden;
    display: block;
    height: 30%;
}

ul li  span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.500s;
}


ul li a:hover span{
    transform: translatey(-100%);
}

ul li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #219F94;
    left: 0;
    top: 7%;
    transform: scaleX(0);
    transition: transform 0.500s , box-shadow 0.500s ease-in-out ;
    box-shadow: 0 -15px 0px 0px transparent;
}

ul li a:hover::before{
    content: "";
    transform: scaleX(1);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #219F94;
    left: 0;
    top: 7%;
    box-shadow: 0 -5px 2px 1px #f3f2ed;
}
.a {
    color: #272727;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all .5s
  }
  
  .a:hover {
   
    color:white;
  }
  
  .a:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 4px solid #f0dae2;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.3s
  }
  
  .a:hover:before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
  }
  
  .a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 4px solid #f0dae2;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .a:hover:after {
    opacity: 1;
    top: -8px;
    right: -8px;
  } */