.modelo {
    background-repeat: no-repeat;
    min-height: 40rem;
}
@media (min-width:768px) {
    .modelo {
        min-height: 30rem;
    }
}
.basico {
    background-image: url(../../assets/modelo1.jpg);
    background-position: top right;
}

.premier {
    background-image: url(../../assets/modelo2.jpg);
    background-position: top left;
}

.elite {
    background-image: url(../../assets/modelo3.jpg);
    background-position: top right;
}